{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div class="text-center">
        <h3>Resume Uploader</h3>

        <br>

        <h5>Keep your Resume here...</h5>

        <hr>

        <br>

        <a type="button" href="{% url 'register' %}" class="btn btn-primary">Create Your account</a>

    </div>

    {% endblock content %}
</body>
</html>